* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0b1416;
    padding: 3px;
}

.comment-card {
    margin-top: 10px;
    width: 100%;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    background-color: #0f1c1f;
    border-color: black;
    border-width: 5px;
    overflow: visible;
    border: 1px solid grey;
    border-radius: 15px;
}

.comment-user {
    order: -1;
    font-size: 12px;
    color: rgb(175, 175, 175);
    text-decoration: none;
    border: 1px ;
}

.comment-user:hover {
    color: orangered;
}

.comment-content {
    width: 540px;
    color: rgb(175, 175, 175);
    text-overflow: ellipsis;
    white-space: normal;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin-top: 7.5px;
    overflow: visible;
}

.top-info-container {
    display: flex;
    justify-content: space-between;
}

.modify-button {
    color: white;
    background-color: #0b1416;
    border: none;
    cursor: pointer;
}

.dropdown-c {
    position: relative;
    top: 0;
    right: 0;
}

.dropdown-content-c {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 60px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
    left: -45px; 
}

.dropdown-content-c {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 60px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 9999;
}

.dropdown-content-c a {
    color: black;
    padding: 6px 6px;
    text-decoration: none;
    display: block;
}

.dropdown-content-c a:hover {
    background-color: #f1f1f1;
}

.dropdown-c:hover .dropdown-content-c {
    display: block;
}
