* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0b1416;
    padding: 3px;
}

.comment-card {
    width: 570px;
    padding: 15px;
    background-color: #0f1c1f;
    border-color: black;
    border-width: 5px;
    overflow: hidden;
    border-bottom: 1px solid grey;
}

.comment-content {
    width: 570px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.comment-user {
    width: 570px;
    font-size: 12px;
    padding-bottom: 7.5px;
    color: rgb(175, 175, 175);
}

.comment-content {
    width: 570px;
    color: rgb(175, 175, 175);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    padding-bottom: 5px;
    padding-top: 2.5px;
}

