* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0b1416;
    padding: 3px;
}

.comment-card {
    margin-top: 10px;
    width: 570px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    background-color: #0f1c1f;
    border-color: black;
    border-width: 5px;
    overflow: hidden;
    border: 1px solid grey;
    border-radius: 15px;
}

.comment-user {
    width: 570px;
    font-size: 12px;
    color: rgb(175, 175, 175);
    text-decoration: none;
    border: 1px ;
}

.comment-user:hover {
    color: orangered;
}

.comment-content {
    width: 560px;
    color: rgb(175, 175, 175);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    display: -webkit-box;
    -webkit-box-orient: vertical;
   margin-top: 7.5px;
}

