* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0b1416;
    padding: 3px;
}

.post {
    height: 840px;
    width: 600px;
    border-radius: 15px;
    padding: 15px;
    background-color: #0f1c1f;
    border-color: black;
    border-width: 5px;
    overflow: hidden;
    margin-top: 75px;
}

.card-content {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 10px 5px;
}

.user {
    font-size: 12px;
    padding-bottom: 7.5px;
    color: rgb(175, 175, 175);
}

.post-title {
    width: 560px;
    padding-bottom: 5px;
    color: white;
    overflow: hidden;
    white-space: normal;
    display: -webkit-box; 
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.post-content {
    width: 560px;
    color: rgb(175, 175, 175);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    padding-bottom: 5px;
    padding-top: 2.5px;
}

.back {
    margin-left: 5px;
    margin-right: 5px; 
    margin-bottom: 10px; 
    padding: 5px 10px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttons {
    margin-top: 10px;
    display: flex;
    align-items: start;
}

.buttons button {
    margin-left: 5px;
    margin-right: 5px; 
    margin-bottom: 10px; 
    padding: 5px 10px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.comment {
    margin-top: 10px;
    margin-bottom: 45px;
}

.comment-box {
    width: -webkit-fill-available;
    height: 100px;
    background-color: #0b1416;
    color: white;
    padding: 10px;
    border: none;
}

.comment-button {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px; 
    margin-bottom: 10px; 
    padding: 5px 10px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
}

.comment-section {
   width: 100%;
   color: red;
}

.comment-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}
